{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bar.css' %}" />

	<h2>{{object.project}}</h2>
	<div class="navbar navbar-inverse" role="navigation">
	        <div class="navbar-inner">
	        	<ul class="nav navbar-nav">
				<li><a href="{% url 'basic' project.pk %}">Basic info</a></li>
	        		<li><a href="{% url 'project' %}">Heat balance</a></li>
				<li><a href="{% url 'upload' %}">Time series</a></li>
			</ul>
		</div>
	</div>
	
    <div class="row">
    <h4>Energy Performance</h4>
        <div class="col-md-6" id="pie"></div>
        <div class="col-md-6" id="info">
		<table class="table">
			<thead>
				<tr>
					<th>Room</th>
					<th>Area</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	  </div>
    </div>
    
    <div class="row">
    <h4>Basic information</h4>
        <div class="row">
		<div class="col-md-4" id="hbar">Area schedule[m2]</div>
		<div class="col-md-4" id="hbar4">WWR[%]</div>
		<div class="col-md-4" id="hbar5">Window area[m2]</div>
	    </div>
	    <div class="row">
		<div class="col-md-4" id="hbar1">Lighting Power Density[W/m2]</div>
		<div class="col-md-4" id="hbar2">People Density[m2/person]</div>
		<div class="col-md-4" id="hbar3">Small Power[W/m2]</div>
	    </div>
    </div>

<script src="{% static 'vendor/js/d3.js' %}"></script>
<script src="{% static 'js/pie.js' %}"></script>
<script src="{% static 'vendor/js/jquery-2.2.3.min.js' %}"></script>
<script src="{% static 'js/hbar.js' %}"></script>


<script type="text/javascript">
    readcsv("{{energy}}");
    renderAll("{{zone}}");
    /*
    hbarChart("{{zone}}","area",'#hbar');
    hbarChart("{{zone}}","Light",'#hbar1');
    hbarChart("{{zone}}","People",'#hbar2');
    hbarChart("{{zone}}","Plug",'#hbar3');
    hbarChart("{{zone}}","Plug",'#hbar3');
    hbarChart("{{zone}}","WWR",'#hbar4');
    hbarChart("{{zone}}","Glass",'#hbar5');
    */
</script>

{% endblock %}